{% extends 'index.html' %} {% block navlinks %} {%load static%}
<div class="gap-[25px] hidden md:flex">
  <a
    class="px-3.5 py-2 text-black rounded-[18px] cursor-pointer no-underline uppercase text-md bg-mustard"
    href="{% url 'about' %}"
    >About</a
  >
  <a
    class="px-3.5 py-2 text-black rounded-[18px] cursor-pointer no-underline uppercase text-md bg-mustard"
    href="{% url 'projects' %}"
    >Projects</a
  >
  <a
    class="px-3.5 py-2 text-black rounded-[18px] cursor-pointer no-underline uppercase text-md bg-mustard"
    href="{% url 'services' %}"
    >Services</a
  >
  <a
    class="px-3.5 py-2 text-black rounded-[18px] cursor-pointer no-underline uppercase text-md bg-mustard"
    href="{% url 'contact' %}"
    >Contact</a
  >
</div>
{% endblock %} {% block popuplinks %}
<a href="{% url 'about' %}">About</a>
<a href="{% url 'projects' %}">Projects</a>
<a href="{% url 'services' %}">Services</a>
<a href="{% url 'contact' %}">Contact</a>
{% endblock %} {% block content %}

<div
  class="grid md:grid-cols-2 h-screen pt-20 items-center px-3 text-center md:text-left"
>
  <div class="flex flex-col gap-5">
    <p class="text-2xl tracking-[2px] font-thin">HELLO , I'm</p>
    <p class="text-[38px] font-bold">KARTHIKEYAN J</p>
    <p class="text-[26px] font-semibold tracking-[5px]">DEVELOPER</p>
    <p class="text-[24px]">
      I Develop Robust and Reliable code with Commitment and Purpose of Learning
      New Topics. Available for Work.
    </p>
  </div>

  <div class="flex flex-col gap-7">
    <p class="font-thin text-2xl tracking-[3px]" id="projects">PROJECTS</p>
    <a class="text-3xl">React Web App</a>
    <a class="text-3xl">Django Server</a>
    <a class="text-3xl">Flutter Mobile App</a>
    <a class="text-3xl">ML with Prediction Analysis</a>
  </div>
</div>

<div class="h-screen w-screen bg-myblack" id="panel-2"></div>
{% endblock %} {%block js%}
<script>
  gsap.registerPlugin(ScrollTrigger);
  document.getElementById("home").addEventListener("click", function () {
    window.location.href = "/";
  });

  document.getElementById("projects").addEventListener("click", function () {
    window.location.href = "/projects";
  });


  let navBar = document.getElementById("navbar");
  let home = document.getElementById("home");
  let name = document.getElementById("hero-name");

  ScrollTrigger.create({
    trigger: "#panel-2",
    start: "top-=40 top",
    end: "bottom top",
    onEnter: () => {
      navBar.classList.remove("bg-background-light");
      navBar.classList.add("bg-myblack");
      home.classList.remove("border-black");
      home.classList.add("border-white");
      name.classList.add("text-white");
    },
    onLeaveBack: () => {
      navBar.classList.remove("bg-myblack");
      navBar.classList.add("bg-background-light");
      home.classList.add("border-black");
      home.classList.remove("border-white");
      name.classList.remove("text-white");
    },
  });

  let popUpMenu = document.getElementById("popup-menu");
  let menuItems = document.getElementById("menu-items");

  ScrollTrigger.create({
    trigger: ".projects",
    start: "top center-=70",
    end: "bottom top",
    onEnter: () => {
      popUpMenu.classList.remove("popup-menu");
      menuItems.classList.remove("menu-items");
      popUpMenu.classList.add("popup-menu-dark");
      menuItems.classList.add("menu-items-dark");
    },
    onLeaveBack: () => {
      popUpMenu.classList.remove("popup-menu-dark");
      menuItems.classList.remove("menu-items-dark");
      popUpMenu.classList.add("popup-menu");
      menuItems.classList.add("menu-items");
    },
  });

  function toggleMenu() {
    var menu = document.getElementById("popup-menu");
    let popupAnimation = gsap.fromTo(
      menu,
      {
        scale: 0,
      },
      {
        scale: 1,
        ease: "bounce.out",
        duration: 0.3,
        display: "block",
      }
    );
    popupAnimation.play();
  }

  var menu = document.getElementById("popup-menu");
  menu.addEventListener("click", function (event) {
    var target = event.target;
    var menuBtn = document.querySelector(".menu");

    if (!menu.contains(target) && target !== menuBtn) {
      let popupAnimation = gsap.fromTo(
        menu,
        {
          scale: 1,
        },
        {
          scale: 0,
          duration: 0.3,
          display: "none",
        }
      );
      popupAnimation.play();
    }
  });

  let projBar = gsap.utils.toArray(".project-bar");

  projBar.forEach((bar) => {
    ScrollTrigger.create({
      trigger: bar,
      start: "top-=200 center+=150",
      end: "bottom bottom",
      pinSpacing: false,
      animation: gsap.fromTo(
        bar,
        { y: 140, opacity: 0 },
        { y: 0, opacity: 1, duration: 1 }
      ),
    });
  });
</script>
{%endblock js%}
