{% extends 'index.html' %} {% block navlinks %}
{%load static%}
<div>
  <a href="{% url 'about' %}">About</a>
  <a href="{% url 'projects' %}">Projects</a>
  <a href="{% url 'services' %}">Services</a>
  <a href="{% url 'contact' %}">Contact</a>
</div>
{% endblock %} {% block popuplinks %}
<a href="{% url 'about' %}">About</a>
<a href="{% url 'projects' %}">Projects</a>
<a href="{% url 'services' %}">Services</a>
<a href="{% url 'contact' %}">Contact</a>
{% endblock %} {% block content %}
<div class="main panel">
  <div class="grid-container">
    <div class="grid-item">
      <h2>HELLO , I'm</h2>
      <h5>KARTHIKEYAN J</h5>
      <h4>DEVELOPER</h4>
      <p>
        I Develop Robust and Reliable code with Commitment and Purpose of
        Learning New Topics. Available for Work.
      </p>
    </div>
    <div class="grid-item">
      <h2 id="projects-title" class="pointer">PROJECTS</h2>
      <a>React Web App</a>
      <a>Django Server</a>
      <a>Flutter Mobile App</a>
      <a>ML with Prediction Analysis</a>
    </div>
  </div>
</div>
<div class="projects panel" id="projects">
  <h1>PROJECTS</h1>
  <div class="projects-container">
    {% for data in projects %}
      <div class="project-bar">
        <div>
          <section class="titles">
            <h3 class="proj-title"><a>{{data.name}}</a></h3>
            <h4 class="proj-sub"> Code : <a href={{data.links.0}} target="_blank">Github</a></h4>
          </section>
          <a href={{data.href}} target="_blank">
            <img class="proj-img" src="{% static 'portfolio/images/' %}{{ data.imagename }}" />
          </a>
        </div>
        <p>{{data.description}}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}


{%block js%}
<script>
  gsap.registerPlugin(ScrollTrigger);

  document.getElementById("home").addEventListener("click", function () {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  });
  
  document.getElementById("projects").addEventListener("click", function () {
    const targetPosition = window.scrollY + window.innerHeight;
  
    window.scrollTo({
      top: targetPosition,
      behavior: "smooth",
    });
  });
  
  document
    .getElementById("projects-title")
    .addEventListener("click", function () {
      const targetPosition = window.scrollY + window.innerHeight;
  
      window.scrollTo({
        top: targetPosition,
        behavior: "smooth",
      });
    });
  

  
  let navContainer = document.getElementById("navContainer");
  
  ScrollTrigger.create({
    trigger: ".projects",
    start: "top-=25 top",
    end: "bottom top",
    onEnter: () => {
      navContainer.classList.remove("nav-container");
      navContainer.classList.add("nav-container-dark");
      
    },
    onLeaveBack: () => {
      navContainer.classList.remove("nav-container-dark");
      navContainer.classList.add("nav-container");
    },
  });

  let popUpMenu = document.getElementById("popup-menu");
  let menuItems = document.getElementById("menu-items");

  ScrollTrigger.create({
    trigger: ".projects",
    start: "top center-=70",
    end: "bottom top",
    onEnter: () => {
      popUpMenu.classList.remove("popup-menu");
      menuItems.classList.remove("menu-items");
      popUpMenu.classList.add("popup-menu-dark");
      menuItems.classList.add("menu-items-dark");
    },
    onLeaveBack: () => {
      popUpMenu.classList.remove("popup-menu-dark");
      menuItems.classList.remove("menu-items-dark");
      popUpMenu.classList.add("popup-menu");
      menuItems.classList.add("menu-items");
    },
  });


  function toggleMenu() {
    var menu = document.getElementById("popup-menu");
    let popupAnimation = gsap.fromTo(
      menu,
      {
        scale: 0,
      },
      {
        scale: 1,
        ease: "bounce.out",
        duration: 0.3,
        display: "block",
      }
    );
    popupAnimation.play();
  }
  
  document.addEventListener("click", function (event) {
    var menu = document.getElementById("popup-menu");
    var target = event.target;
    var menuBtn = document.querySelector(".menu");
  
    if (!menu.contains(target) && target !== menuBtn) {
      let popupAnimation = gsap.fromTo(
        menu,
        {
          scale: 1,
        },
        {
          scale: 0,
          duration: 0.3,
          display: "none",
        }
      );
      popupAnimation.play();
    }
  });

  let projBar = gsap.utils.toArray(".project-bar");

  projBar.forEach(bar=> {
    ScrollTrigger.create({
      trigger:bar,
      start:"top-=200 center+=150",
      end:"bottom bottom",
      pinSpacing:false,
      animation:gsap.fromTo(bar,{y:140,opacity:0},{y:0,opacity:1,duration:1}),
    });
  });
  
</script>
{%endblock js%}