

.main > h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

h3 {
  font-family: "Nunito";
}

.table {
  max-width: 30vw;
  text-align: center;
  margin: 20px auto;
}

.table > ul,
.table > ul > li {
  padding: 5px 0px;
}

.table > ul > li > a {
  text-decoration: none;
  font-size: 18px;
  color: var(--black);
}

.contents {
  width: 100vw;
  height: auto;
  padding: 20px 10px;
}

.contents:nth-child(odd) {
  background-color: var(--lightgreen);
}

footer {
  width: 100vw;
  color: white;
  background-color: var(--secondary);
  height: auto;
  max-height: 300px;
  overflow: hidden;
}

.footer-container{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 40px;
}

.team-image{
  width:60vw;
  max-width: 512px;
  min-width: 256px;
}

.flowgraph {
  object-fit: cover;
  width: 100%;
  max-width: 700px;
  height: auto;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: auto;
  margin: auto;
}

.grid-container {
  width: 70vw;
  /* min-width: 500px; */
  max-width: 800px;
  margin: auto;
}

.grids {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 20px;
  margin: 16px 0px;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.grid-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width: 652px) {
  .table {
    max-width: 80vw;
  }
}

@media screen and (max-width: 526px) {
  .grids {
    display: block;
   
  }
}


.mycontainer{
  width: 90vw;
  max-width: 1024px;
  margin: auto;
  padding: 10px 20px;
}

span{
  color: var(--secondary);
  text-decoration: underline;
  font-weight: bold;
}

.mycontainer > p {
  margin-top:20px;
}

.mycontainer > ul, ol {
  padding-top: 20px;
  padding-left: 20px;
}