{% extends 'base.html' %}

{%load static%}

{% block content %}
    <div class="w-screen max-w-4xl mx-auto overflow-x-hidden h-screen pt-20 items-center px-6 md:px-3">
        <p class="text-3xl py-2 font-semibold font-montserrat text-center">Projects</p>

        <section class="px-3 py-2 flex flex-col md:flex-row h-auto items-center gap-3 cursor-pointer rounded-xl bg-primary" onclick="agriculture()">
            <div class="w-full md:max-w-[300px]">
            <img class="rounded-lg " src="{%static 'projects/images/agriculture_project_preview.png'%}" />
            </div>
            <div class="">
                <h3 class="text-xl font-semibold">Smart Agricultural Field Monitoring and Motor Control System with Prediction Analysis</h3>
                <div>
                    Key Words : <span class="font-semibold underline underline-offset-2">flutter</span> ,<span class="font-semibold underline underline-offset-2">PlatformIO</span> ,<span class="font-semibold underline underline-offset-2">Python</span> ,<span class="font-semibold underline underline-offset-2">Machine Learning</span>
                </div>
            </div>
        </section>

        <p class="text-3xl py-2 font-semibold font-montserrat text-center">Mini Projects</p>
        <div class="md:grid grid-cols-2 ">
            {% for data in miniprojects %}
            <section id="miniproject" class="flex flex-col p-3 items-center rounded-lg m-3 bg-primary" data-link={{data.link}}>
                <div class="w-full">
                    <img class="rounded-lg " src="{%static 'projects/images/'%}{{data.image_name}}" />
                </div>
                <div class="my-3">
                    <h3 class="text-2xl font-semibold">{{data.title}}</h3>
                    <div>
                        Key Words : {% for keywords in data.keywords %}
                        <span class="font-semibold underline underline-offset-2">{{keywords}}</span>,
                        {% endfor %}
                    </div>
                </div>
            </section>
            {% endfor %}
        </div>
    </div>
{%endblock content%}

{%block js%}
<script>
    document.getElementById("home").addEventListener("click", function () {
        window.location.href = "/";
    });

    function agriculture() {
        window.location.href = "{% url 'agriculture' %}"; // Navigate to the custom link
    }

    document.querySelectorAll('#miniproject').forEach(function(section) {
        section.addEventListener('click', function() {
            var link = section.getAttribute('data-link');
            if (link) {
                window.open(link, '_blank'); 
            }
        });
    });

</script>
<script src={%static "portfolio/js/script.js"%}></script>
{%endblock js%}
